.left {
    height: 100vh;
    width: 17vw;
    
}

body {
    min-width: 320px;
    max-width: 1920px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    max-height: 1080px;
    display: flex;
} 



.clockpage {
    font-size: 32px; /*разобраться с текстом, почему такая хуйня*/
    text-align: center;    
}

.d-flex { 
    height: 100%;
}

.fs {
    font-size: 50px;
    align-items: center;
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #6C63FF;
}

main {
    height: 100vh;
    min-width: 80vw;
    margin-left: 0.5vw;
    margin-right: 2.5vw;
    
}

h1 {
    margin-left: 1vw;
    margin-top: 1vh;
}
